In [17]:
def binarySearch(a,lIndex,rIndex,taritem):
    while lIndex <=rIndex:
      mIndex=lIndex+(rIndex-lIndex)//2;
      if a[mIndex]==taritem:
          return mIndex
      if a[mIndex]>taritem:
          rIndex=Mindex-1
      else:
            lIndex=mIndex+1
      return-1
list1=[1,4,9,15,25,45,57,88,98]
res= binarySearch(list1,0,8,818)
if res!=-1:
   print("Item is found")
else:
   print("Item is not found")

Item is not found

In [5]:
def bubblesort(a):
  for i in range(len(a)-1):
    for j in range(len(a)-1):
      if a[j]>a[j+1]:
        a[j],a[j+1]=a[j+1],a[j]
          
  for i in range(len(a)):
          print(a[i],end=" ")
 
list1=[19,1,25,6,18,3]
bubblesort(list1)

1 3 6 18 19 25

### creating a string

--

In [7]:
str="application"
print(str)
print("str[0]= ",str[0])
print("str[1]= ",str[1])
print("str[-1]= ",str[-1])
print("str[-3]= ",str[-3])
print("str[1:5]= ",str[1:5])


def isPalindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False

print(isPalindrome("Python"))
print(isPalindrome("jalaj"))

application
str[0]=  a
str[1]=  p
str[-1]=  n
str[-3]=  i
str[1:5]=  ppli

**Palindrome**

In [9]:

def isPalindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False

print(isPalindrome("Python"))
print(isPalindrome("jalaj"))

False
True

**string** **convert lists

In [10]:

def countdg(n):
    return len(n);

countdg("3455678")

7

In [11]:

def countch(n):
    return len(n);

countch("dfghjk")

6

In [12]:
def countuppercase(str):
    cnt=0
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=65 and ord(lst[x])<=90:
            cnt= cnt + 1
    return cnt
    
print(countuppercase("Application"))
print(countuppercase("TeST"));

1
3

In [13]:

def printDigits(str):
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=48 and ord(lst[x])<=57:
            print(lst[x],end="")

print(printDigits("Application1889"))

1889None

**sum of digits**

In [1]:
def sumdgstr(str):
    sum=0;
    list1=list(str);
    for x in range(len(list1)):
        if ord(list1[x])>=48 and ord(list1[x])<=57:
            sum=sum+ord(list1[x])-48;
    return sum;
            
print(sumdgstr("Application1889"))

26

**sum of even digits**

In [2]:
def sumOnlyEvenDigits(str):
    sum=0
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=48 and ord(lst[x])<=57:
            ac=ord(lst[x])-48
            if(ac%2==0):
                sum=sum+ac
    return sum
print(sumOnlyEvenDigits("application1889"))
print(sumOnlyEvenDigits("te1574s69t"))

16
10