In [1]:

import pandas as pd
dict={"Name":["Anil","Akhil","Dinesh","Harsha","Ajay","Kranth"],
    "EmailID":["anil@gmail.com","akhil@gmail.com","dinesh@gmail.com","harsha@gmail.com","ajay@gmail.com","kranth@gmail.com"],
    "Mobile Number":[99,44,55,22,33,41]}

b=pd.DataFrame(dict)
print(b)

b.index=["01","02","03","04","05","06"]
print(b)

     Name           EmailID  Mobile Number
0    Anil    anil@gmail.com             99
1   Akhil   akhil@gmail.com             44
2  Dinesh  dinesh@gmail.com             55
3  Harsha  harsha@gmail.com             22
4    Ajay    ajay@gmail.com             33
5  Kranth  kranth@gmail.com             41
      Name           EmailID  Mobile Number
01    Anil    anil@gmail.com             99
02   Akhil   akhil@gmail.com             44
03  Dinesh  dinesh@gmail.com             55
04  Harsha  harsha@gmail.com             22
05    Ajay    ajay@gmail.com             33
06  Kranth  kranth@gmail.com             41